﻿
@{
    ViewBag.Title = "Index";
}


<div id="content"></div>

<script src="http://fb.me/react-0.13.1.js"></script>
<script src="https://fb.me/JSXTransformer-0.13.3.js"></script>
<script src="@Url.Content("~/Scripts/Tutorial.jsx")" type="text/jsx"></script>

